html, body {
  /* margin: 0; */
  /* padding: 0; */
  width: 100%;
  height: 100%;
  background-color: #FEF9F9;
}

.rect {
  width: 677px;
  height: 108px;
  border: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.rect:hover {
  opacity: 0.6;
}

#rect1 {
  position: absolute;
  left: 382px;
  top: 80px;
  background: #FFD48F;
  border-radius: 25px 25px 0px 0px;
}

#rect2 {
  position: absolute;
  left: 382px;
  top: 188px;
  background: #FFC161;
}

#rect3 {
  position: absolute;
  left: 382px;
  top: 296px;
  background: #FFAC2B;
}

#rect4 {
  position: absolute;
  left: 382px;
  top: 404px;
  background: #FF8E09;
}

#rect5 {
  position: absolute;
  left: 382px;
  top: 512px;
  background: #D26618;
  border-radius: 0px 0px 25px 25px;
}
