<!DOCTYPE html>

{% block head %}
<head>
  <title>
    {% block title %} {{title}} {% endblock title %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/main_style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% endblock head %}

{% block navbar %}
<nav class="navbar navbar-fixed-top">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mood_graph">Graph</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/journal">Journal</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock navbar %}

<body>
{% block body %}
{% endblock body %}
</body>
